{% extends "suiviVehicule/template.html" %}
{% block content %}
{% load static %}
<script src="assets/js/plugin/webfont/webfont.min.js"></script>
<!-- CSS Files -->
<link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static './css/plugins.min.css' %}" />

<!-- CSS Just for demo purpose, don't include it in your project -->
<link rel="stylesheet" href="{% static './css/demo=.css' %}" />
<div class="main">
    <div class="visualisation">
        <h2 class="visualisation-title">Log Automatic Reports</h2>
        <div class="page-inner">
            <div class="row">
              <div class="col-md-12">
                <div class="card card-round">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <div class="card-title">Reports</div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table align-items-center mb-0">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col" >Creation date</th>
                            <th scope="col" >Title</th>
                            <th scope="col" >Recipient</th>
                            <th scope="col" >User</th>
                            <th scope="col" >Result</th>
                            <th scope="col" >status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% load humanize %}
                            {% for item in data_list %}
                            <td >{{ item.rapport_created_at }}</td> 
                            <td >{{ item.rapport_title }}</td>
                            <td >{{ item.log_recipient }}</td>
                            <td >{{ item.user_email }}</td>
                            <td >{{ item.log_result }}</td>
                            <td >{{ item.log_status }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
    </div>    
</div>      
<script src="{% static './main.js' %}"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
{% endblock %}
