{% extends "suiviVehicule/template.html" %}
{% block content %}
{% load static %}
<div class="main">
    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link {% if '/trip/detail/'|add:item.id_trip|stringformat:"s" in request.path %}  {% endif %}" href="/trip/detail/{{ item.id_trip }}">Detail</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if '/trip/prediction/'|add:item.id_trip|stringformat:"s" in request.path %}  {% endif %}" href="/trip/prediction/{{ item.id_trip }}">Prediction</a>
              </li>
          </ul>
      </div>
  </nav>
  <h2 style="text-align: center;">Trip Details - {{ item.id_trip }}</h2>

  <div class="row">
    <div class="col-md-7">
    <div class="trip-details container" style="height: 650px;">
        <h2 class="trip-title">Trip Information</h2>
      
        <div class="row">
          <div class="col-md-8">
            <!-- Driver Information Card -->
            <div class="card">
              <div class="card-body">
                <h3>Driver Information</h3>
                <p><strong>Driver Name:</strong> {{ item.driver_oname }}</p>
                <p><strong>Driver Mobile Number:</strong> {{ item.driver_mobile_number }}</p>
              </div>
            </div>

            <!-- Driver Information Card -->
            <div class="card mt-4">
              <div class="card">
                <div class="card-body">
                  <h3>Resume Prediction</h3>
                  <p><strong>Anormaly:</strong> {{ item.annulated }} %</p>
                  <p><strong>Late:</strong> {{ item.risky }} %</p>
                  <p><strong>Safe:</strong> {{ item.completed }} %</p>
                </div>
              </div>
            </div>
            

            <!-- Trip Information Card -->
            <div class="card mt-4">
              <div class="card-body">
                <h3>Trip Information</h3>
                <p><strong>Pickup Place:</strong> {{ item.FromPlace }}</p>
                <p><strong>Destination:</strong> {{ item.ToPlace }}</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <!-- Timing Information Card -->
            <div class="card">
              <div class="card-body">
                <h3>Timing Information</h3>
                <div class="d-flex justify-content-between">
                  <p><strong>Pick Up Time:</strong></p>
                  <p>{{ item.pick_up_time|date:"H:i:s" }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p><strong>Estimated Time (ETA):</strong></p>
                  <p>{{ item.estimatetime|date:"H:i:s" }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p><strong>Actual Time:</strong></p>
                  <p>{{ item.datetime|date:"H:i:s" }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p><strong>Late By:</strong></p>
                  <p> {% if item.lateby == 0 or not item.lateby %}
                    N/A
                  {% else %}
                    {{ item.lateby|floatformat:0 }} minutes
                  {% endif %}</p>
                </div>
              </div>
            </div>
            

            <!-- Status Card -->
            <div class="card mt-4">
              <div class="card-body">
                <h3>State</h3>
                <div class="text-center">
                   <div class="btn" style="background-color: {{ item.couleur }};">{{ item.status }}</div>
                </div>
              </div>
            </div>

            <!-- Actions Card -->
            <div class="card mt-4">
              <div class="card-body">
                <h3>Actions</h3>
                <div class="text-center">
                  <a href="https://www.google.com/maps/dir/{{ item.PickEnd_H_Pos }}/{{ item.PickUp_H_Pos }}" target="_blank" class="outline-btn text-center">
                    View on Google Maps
                  </a>
                  <!--<iframe
                      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA6wqUNamrQQTeq4zoW2zzHnNT4i35Tu-8&q=Eiffel+Tower,Paris+France"
                      width="600"
                      height="450"
                      style="border:0;"
                      allowfullscreen=""
                      loading="lazy">
                  </iframe>-->
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="col-md-5">
    <div class="trip-details container" style="height: 650px;">
      <h2 class="trip-title">Vehicule Information</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-body">
               <p><strong>Vehicle N°:</strong> {{ item.vehicleno }}</p>
              <p><strong>Current Position:</strong> {{ item.current }}</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <!-- Speed Card -->
          <div class="card mb-3">
            <div class="card-body">
              <h3>Speed</h3>
              <div class="text-center">
                <p>{{ item.speed }} / {{ item.speedMeasure }}</p>
              </div>
            </div>
          </div>
      
          <!-- Odometer Card -->
          <div class="card mb-3">
            <div class="card-body">
              <h3>Odometer</h3>
              <div class="text-center">
                <p>{{ item.odometer }} km</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Engine Status Card -->
          <div class="card mb-3">
            <div class="card-body">
              <h3>Engine Status</h3>
              <div class="text-center">
                <p>{{ item.engineStatus }}</p>
              </div>
            </div>
          </div>
      
          <!-- Engine Time Card -->
          <div class="card mb-3">
            <div class="card-body">
              <h3>Engine Time</h3>
              <div class="text-center">
                <p>{{ item.engineTime }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  <h2 style="text-align: center;">Trip Historic</h2>

  <div class="row">
    <div class="col-md-6">
    <div class="trip-details container">
      <!-- <h2 class="trip-title">Trip historic</h2> -->
      <div class="row">
        <div class="col-md-12">
          <div class="card card-round">
            <div class="card-header">
              <div class="card-head-row card-tools-still-right">
                <div class="card-title">Last postion of vehicule</div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col" class="text-end">Current</th>
                      <th scope="col" class="text-end">Duration</th>
                      <th scope="col" class="text-end">Odometer</th>
                      <th scope="col" class="text-end">Speed</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for histo in details %}
                      <td>
                          {{ histo.daty_time }} </td>
                      <td class="text-end">{{ histo.current|slice:":30" }}</td>
                      <td class="text-end">{{ histo.duration }}  sec</td>
                      <td class="text-end">{{ histo.odometer }}</td>
                      <td class="text-end">{{ histo.speed }} / {{ histo.speedMeasure}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  <div class="col-md-6">
    
    <div class="trip-details container">
      <h2 class="trip-title">Speed check list</h2>
      <canvas id="tripHistoryChart" width="600" height="300"></canvas>
    </div>
  </div>
</div>
    <!-- Cancel Trip Section -->
    <div class="cancel-container">
      <div >
        <p>More action ...</p>
    </div>
      <div class="row cancel-row">
          <div class="col-md-6 text-center">
              <p class="cancel-text">do you want to cancel this trip ?</p>
              <a href="/trip/cancel/{{ item.id_trip }}" class="btn btn-cancel">
                   Cancel Trip
              </a>
          </div>
          <div class="col-md-6 text-center">
            <p class="cancel-text">Need to reorganised this trip ?</p>
            <a href="/trip/cancel/{{ item.id_trip }}" class="btn btn-primary">
                Reorganise
            </a>
        </div>
      </div>
    </div>
    
</div>  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
<script>
  const ctx = document.getElementById('tripHistoryChart').getContext('2d');

  const tripPerformanceChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{ dates|safe }},
          datasets: [
              {
                  label: 'Speed',
                  data: {{ speeds|safe }},
                  borderColor: 'rgba(54, 162, 235, 1)',
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  fill: false
              }
          ]
      },
      options: {
          responsive: true,
          plugins: {
              title: {
                  display: true,
                  text: 'Speed Historic'
              }
          },
          scales: {
              x: {
                  type: 'category',
                  title: {
                      display: true,
                      text: 'Date'
                  }
              },
              y: {
                  title: {
                      display: true,
                      text: 'Speed'
                  }
              }
          }
      }
  });
</script>
<script src="{% static './main.js' %}"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
{% endblock %}
