{% load static %}
<!-- Sidebar -->
<nav id="sidebar">
    <h1>
      <a href="/dashboard" class="logo">
        <img src="{% static 'image/logo.png' %}" alt="" />
      </a>
    </h1>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/dashboard"><span class="fa fa-dashboard mr-3"></span> Dashboard</a>
        </li>
        {% if user.is_staff %}
        <li class="dropdown">
            <a href="#tripMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="fa fa-list mr-3"></span> Trips
            </a>
            <ul class="collapse list-unstyled show" id="tripMenu">
                <li><a href="/dashboard">
                    </i> Current trip</a></li>
                <li><a href="/planning/list"> 
                    </i> Planner trip</a></li>
                <li><a href="/record/listes"> 
                    </i> Audit</a></li>
            </ul>
        </li>
        <!--<li>
            <a href="#"><span class="fa fa-bell mr-3"></span> Notifications</a>
        </li>-->
        {% endif %}
        {% if user.is_superuser %}
        <li>
            <a href="#">
                <span class="fa fa-ban mr-3"></span> Annulments
            </a>
            <ul class="collapse list-unstyled show" id="profileMenu">
                <li>
                    <a href="/trip/cancel/3002730">
                        Add an Annulment
                    </a>
                </li>
                <li>
                    <a href="/trip/wait_confirmation?status=Pending">
                        View Pending Trips
                    </a>
                </li>
                <li>
                    <a href="/trip/wait_confirmation?status=Canceled">
                        View Canceled Trips
                    </a>
                </li>
            </ul>
        </li>
        

        <li>
            <a href="#"><span class="fa fa-line-chart mr-3"></span> Visualisation</a>
            <ul class="collapse list-unstyled show" id="profileMenu">
                <li><a href="/trip/visualisation"> 
                    </i> Overview</a></li>
                <li><a href="/trip/kpi"> 
                    </i> Journey Details</a></li>
                <li><a href="/trip/kpi"> 
                    </i> Usage Google Maps</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/user/information" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="fa fa-user mr-3"></span> User
            </a>
            <ul class="collapse list-unstyled show" id="profileMenu">
                <li><a href="/user/information"> 
                     My profile</a></li>
                <li><a href="/report/list"> 
                     Automatic Report</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#settingsDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="fa fa-cog mr-3"></span> Settings
            </a>
            <ul class="collapse list-unstyled show" id="settingsDropdown">
                <li><a href="/parameter/list"> Parameters</a></li>
                <li><a href="/parameter/refresh"> Refresh Timing</a></li>
                <li><a href="/log/recap"> API Logs</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
    
    <!-- Copyright -->
    <div class="copyright">
        <p>&copy; 2024 Ltd Mautourco</p>
    </div>
</nav>
<style>
    .dropdown ul {
    display: block; /* Permet d'afficher les éléments */
    padding-left: 15px;
}
</style>
