{% load static %}
<!-- Sidebar -->
<nav id="sidebar">
    <h1>
      <a href="/dashboard" class="logo">
        <img src="{% static 'image/logo.png' %}" alt="" />
      </a>
    </h1>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/dashboard"><span class="fa fa-dashboard mr-3"></span> Dashboard</a>
        </li>
    
        <li class="dropdown">
            <a href="#tripMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="fa fa-list mr-3"></span> Trips
            </a>
            <ul class="collapse list-unstyled" id="tripMenu">
                <li><a href="/dashboard">Current Trips</a></li>
                <li><a href="/planning/list">Planned Trips</a></li>
                <li><a href="/record/listes">Trip Logs</a></li>
            </ul>
        </li>
    
        <li>
            <a href="#"><span class="fa fa-file mr-3"></span> Reports</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-user mr-3"></span> Profile</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-bell mr-3"></span> Notifications</a>
        </li>
    
        <li class="dropdown">
            <a href="#settingsDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="fa fa-cog mr-3"></span> Settings
            </a>
            <ul class="collapse list-unstyled" id="settingsDropdown">
                <li><a href="/parameter/list">Parameters</a></li>
                <li><a href="/parameter/refresh">Refresh Timing</a></li>
                <li><a href="/log/recap">API Logs</a></li>
            </ul>
        </li>
    </ul>
    
    <!-- Copyright -->
    <div class="copyright">
        <p>&copy; 2024 Ltd Mautourco</p>
    </div>
</nav>
