$button: #1a5a9f;
$button-hover: #f58220;
$success: rgba(30,132,127,1.0);
$danger: rgba(255,110,64,1.0);
$colorHeader: #ee7203;
$grey: #a1a1a1;
$font-size: 13px;
$font-size-button: 14px;
$font-size-table: 11px;

.header {
    height: 58px;
    border-bottom: 0.3rem solid $colorHeader;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22), 0 1px 2px 0 rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: row;
    .header-logo {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        width: 166px;
        margin-left: 52px;
      }
    }

    .header-title {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $colorHeader;
      h2 {
        font-size: 1.2rem;
      }
    }

    .header-sign-in {
      height: 100%;
      display: flex;
      justify-content: right;
      align-items: center;
      color: $colorHeader;
      padding-right: 40px;
      h2 {
        font-size: 1.7rem;
      }
    }
  }

  .main {
    padding: 2rem;
    padding-top: 1rem;
    font-family: "Open Sans";
    width: 1700px;
    margin: 0 auto;
    .carrosell {
      background-color: white;
      border-color: $button;
      color: $button;
      border: 1;
      border-radius: 4px;
      padding: 0 auto;
      font-size: $font-size;
      width: 140px;
      &:hover {
        color: $button-hover;
      }

      i {
        margin-left: 10px;
      }
    }

    .btn-outline-success {
      border-color: #1e847f;
      &:hover {
        background-color: #1e847f;
      }
    }

    .btn-outline-danger {
      border-color: #ff6e40;
      &:hover {
        background-color: #ff6e40;
      }
    }

    .search {
      background-color: #ecf2f8;
      margin-top: 10px;
      border-radius: 0.5rem;
      padding: 1rem;
      padding-top: 44px;
      .form-group {
        margin: 0 auto;
      }

      .form-row {
        height: 42px;
        label {
          font-size: $font-size;
        }
        input {
          height: 30px;
          font-size: $font-size;
        }
        select {
          height: 30px;
          font-size: $font-size;
        }
      }
      .footer {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        button {
          background-color: white;
          border-color: $button;
          color: $button;
          border: 1;
          border-radius: 4px;
          font-size: $font-size-button;
          width: 140px;
          &:hover {
            color: $button-hover;
          }
          i {
            margin-left: 10px;
          }
        }
        .right {
          margin-left: 3rem;
        }
        a {
          border: 2px solid;
          background-color: white;
          border-color: $button;
          color: $button;
          border: 1;
          border-radius: 4px;
          font-size: $font-size;
          width: 140px;
          padding: 0;
          margin-left: 10px;
          &:hover {
            color: $button-hover;
          }
        }
      }     
    }
    .dashboard #idChart {
      max-width: 200px;
      max-height: 200px;
    }

    .list {
      margin-top: 1rem;
      .head {
        height: 48px;
        font-size: $font-size;
        button {
          background-color: white;
          border-color: $button;
          color: $button;
          border: 1;
          border-radius: 4px;
          padding: 0 auto;
          font-size: $font-size;
          width: 140px;
          margin-left: 1rem;
          &:hover {
            color: $button-hover;
          }
          i {
            margin-left: 10px;
          }
        }
      }
      .box {
        vertical-align: middle;
      }

      .legend {
        height: 40px;
        margin-top: -16px;
      }
      table {
          thead {
            background-color: $button;
            color: white;
            text-align: center;
            font-size: $font-size;
            position: sticky;
            top: 0;
            th{
              font-size: $font-size;
              vertical-align: middle;
            }
          }
          tbody {
            font-size: $font-size;
            .list-action {
              padding: 0;
              padding-top: 10px;
              .action {
                font-size: $font-size-table;
              }
              .outline-btn {
                border: 0;
                background-color: white;
                .svg {
                  width: 23px;
                }
                &:hover .svg {
                  stroke: $button-hover;
                }
              }

              .btn {
                width: 85px;
              }
              .action{
                color: #181717;
                font-weight: bold;
              }
            }
            td {
              font-size: $font-size-table;
              text-align: left;
              align-items: left;
            }
          }
          .head {
            width: 250px;
            text-align: center;
          }
          .head-off {
            width: 100px;
            text-align: center;
          }
      }
      .list-footer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        button {
          background-color: white;
          border-color: $button;
          color: $button;
          border: 1;
          border-radius: 4px;
          padding: 0 auto;
          font-size: $font-size;
          width: 140px;
          margin-left: 1rem;
          &:hover {
            color: $button-hover;
          }
          i {
            margin-left: 0.5rem;
          }
        }
       .footer-pagine {
          margin-right: 35px;
          font-size: $font-size;
        }
        
       
      }
      .title-rec {
        align-items: center;
        margin-bottom: 30px;
        .title-rec-head {
          text-align: center;
        }
      }

      .legend-item {
        margin-left: 20px;
        font-size: $font-size;
        text-align: center;
        .action{
          color: #181717;
          font-weight: bold;
          font-size: $font-size-table;
          width: 85px;
        }
      }
      
      .list-table {
        overflow: auto;
        max-height: 700px;
      }
      
    }
    .btn-outline-success {
      border: none;
    }

    
    .update {
      margin-top: 10px;
      border-radius: 0.5rem;
      padding: 1rem;
      .form-group {
        margin: 0 auto;
      }
      .footer {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        button {
          background-color: white;
          border-color: $button;
          color: $button;
          border: 1;
          border-radius: 4px;
          font-size: $font-size;
          width: 140px;
        }
      }
    }
    .parameter {
      display: flex;
      justify-content: center;
    }
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4; 
      &:hover {
        background-color: #e9e9e9; 
      }
    }
  }
  
  .autocomplete-active {
    background-color: $button !important; 
    color: #ffffff; 
  }
  
  
 
  
  .container .modal-aster{
    float: right;
    margin-top: -16px;
    margin-bottom: auto;
    padding-right: 3px;
  }


  #bg-spinner {
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background-color: rgba(1,1,1,0.7);
  }
  
  #position-spinner{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  #spinner{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px solid #d3d3d3;
    border-top: 6px solid #007bff;
    animation: loading 1s linear infinite;
  }
  
  @keyframes loading{
    to {
        transform: rotate(360deg);
    }
  }