{% extends "suiviVehicule/template.html" %}
{% block content %}
{% load static %}
<div class="main">
    <div class="trip-details container">
        <h2 class="trip-title">Access Denied</h2>
      
        <div class="row">
          <div class="col-md-12">
            <!-- Driver Information Card -->
            <div class="card">
              <div class="card-body">
                <p>You do not have permission to access this page.</p>

              </div>
            </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}