{% extends "suiviVehicule/template.html" %}
{% block content %}
{% load static %}
<div class="main">
    <button class="carrosell" data-toggle="collapse" href="#multiCollapseExample1" role="button" onclick="clickIcon()"
            aria-expanded="false" aria-controls="multiCollapseExample1">Search <i
            class="fa-solid fa-angle-right fa-rotate-90"></i>
    </button>
    <button class="carrosell" data-toggle="collapse" href="#multiCollapseExample2" role="button" onclick="clickIcon()"
    aria-expanded="false" aria-controls="multiCollapseExample2">View log <i
    class="fa-solid fa-angle-right fa-rotate-90"></i>
    </button>

    <form action="/record/listes" method="GET" >
        <div class="row collapse multi-collapse" id="multiCollapseExample2">
            <div class="search col-md-6 ">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="from">Date From</label>
                        <input type="text" style="width: 299px;" class="form-control" id="datefrom" name="datefrom" value="" placeholder="yyyy-mm-dd" >
                    </div>
                    <div class="form-group col-md-5">
                        <label for="from">Date To</label>
                        <input type="text" style="width: 299px;" class="form-control" id="dateto" name="dateto" value="" placeholder="yyyy-mm-dd" >
                    </div>
                </div>
            <div class="footer row">
                <a href="/dashboard?reset" class="btn left">Reset</a>
                <button class="right">Search <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            </div>
        </div>
    </form>

    <form method="GET">
        <div class="row collapse multi-collapse search-box" id="multiCollapseExample1">
                <!--<input type="hidden" name="check" value="on">-->
                <div class="search col-md-6 ">
                    <div class="form-row">
                        <div class="form-group col-md-5 autocomplete row">
                            <label for="from" class="col-sm-5 col-form-label">Driver Name </label>
                            {{ form_search.driver_oname }}
                        </div>
                        <div class="form-group col-md-5 row">
                            <label for="from" class="col-sm-5 col-form-label">Pickup Place </label>
                            {{ form_search.FromPlace }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5 row">
                            <label for="drive_mobile" class="col-sm-5 col-form-label">Driver Mob No </label>
                            {{ form_search.driver_mobile_number }}
                    </div>
                    <div class="form-group col-md-5 row">
                        <label for="to" class="col-sm-5 col-form-label">Destination </label>
                        {{ form_search.ToPlace }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5 row">
                        <label for="vehicule" class="col-sm-5 col-form-label">Vehicule No</label>
                        {{ form_search.vehicleno }}
                    </div>
                    <div class="form-group col-md-5 row">
                        <label for="status" class="col-sm-5 col-form-label">Status </label>
                        <select name="status" class="form-control col-sm-7">
                            <option value="">All</option>
                            {% for lg in legend %}
                            <option value="{{lg.status}}">{{lg.status}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            
                <div class="footer row">
                    <button class="left " name="reset">Reset</button>
                    <button class="right">Search <i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                </div>

            <div class="dashboard col-md-6">
                <canvas id="myChart" data="{{ chart }}" ></canvas>
            </div>
        </div>
    </form> 
    
    <div class="list">
        <div class="row">
            <div class="col-md-5 head">
                <div>Last updated : <span id="demo"> </span> mn ago at <span>{{last_refresh|time:"H:i:s"}}</span> - Next refresh : <span id="nextref"></span>
                        <button class="btn-send" onclick="reload()">
                            Reload
                            <i class="fa-sharp fa-solid fa-arrows-rotate"></i>
                        </button>
                    </div>
            </div>
            <div class="col-md-7 legend">
                <div class="d-inline-block legend-item" >
                    <p>Legend :</p>
                </div>
                {% for lg in legend %}
                <div class="d-inline-block legend-item">
                    <div class="list-action">
                    {% if lg.id == 1 %}
                    <p><span><div class="btn  action" style="background-color:{{lg.couleur}}">{{lg.status}}</div></span> < {{lg.max_percent|floatformat:0}}min</p>
                    {% elif lg.id == 4 %}
                    <p><span><div class="btn  action" style="background-color:{{lg.couleur}}">{{lg.status}}</div></span> > {{lg.min_percent|floatformat:0}}min</p>
                    {% elif lg.id == 5 %}
                    <p><span><div class="btn  action" style="background-color:{{lg.couleur}}">{{lg.status}}</div></span> < {{lg.max_distance|floatformat:0}}m</p>
                    {% else %}
                    <p><span><div class="btn  action" style="background-color:{{lg.couleur}}">{{lg.status}}</div></span> {{lg.min_percent|floatformat:0}}-{{lg.max_percent|floatformat:0}}min</p>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <table class="table table-borderless col-md-12">
                <thead>
                    <tr>
                        <th scope="col" class="box head">Driver name</th>
                        <th scope="col" class="box">Vehicule N°</th>
                        <th scope="col" class="box">Driver Mob N°</th>
                        <th scope="col" class="box head">Pickup Place</th>
                        <th scope="col" class="box head">Destination</th>
                        <th scope="col" class="box head">Current Position</th>
                        <th scope="col" class="box head-off">Pick up time</th>
                        <th scope="col" class="box head-off" data-toggle="tooltip" title="Trip duration from current position to pickup place" >Trip duration</th>
                        <th scope="col" class="box head-off" data-toggle="tooltip" title="Estimate time to reach pickup place from current position" >ETA time</th>
                        <th scope="col" class="box head-off" data-toggle="tooltip" title="Difference between pickup time and ETA Time" >Difference</th>
                        <th scope="col" class="box head-off">
                          <!-- <form id="form" action="/dashboard" method="get">
                                <div class="form-check">
                                    {% if checked == 'on' %}
                                        <input class="form-check-input"  data-toggle="tooltip" title="Show trip on track" type="checkbox" name="check"  onchange="document.getElementById('form').submit()" id="flexCheckDefault" checked>
                                    {% else %}
                                        <input class="form-check-input" data-toggle="tooltip" title="Show trip on track" type="checkbox" name="check"  onchange="document.getElementById('form').submit()" id="flexCheckDefault">
                                    {% endif %}
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Status
                                    </label>
                                </div>
                            </form>-->
                            Status
                        </th>
                        <th scope="col" style="width: 70px;"></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in data_list %}
                <tr>
                    <td>{{ item.driver_oname }}</td>
                    <td>{{ item.vehicleno }}</td>
                    <td>{{ item.driver_mobile_number }}</td>
                    <td>{{ item.FromPlace }}</td>
                    <td>{{ item.ToPlace }}</td>
                    <td style="text-transform: uppercase;">{{ item.current }}</td>
                    <td>{{ item.pick_up_time|date:"H:i:s "}}</td>
                    <td style="text-align: center;">{{ item.difftimestart |floatformat:0}}</td>
                    <td>{{ item.estimatetime|date:"H:i:s " }}</td>
                    <td style="text-align: center;">{{ item.difftimepickup |floatformat:0}}</td>
                  
                    <td class="list-action">
                        <div class="btn action" style="background-color:{{ item.couleur }}">{{ item.status }} </div>
                    </td>
                    <td class="list-action">
                        <!--<a id="btn-send-2" href="/onerefresh/{{ item.idstatusposdetail }}/{{ item.id }}" class="outline-btn btn-send" data-toggle="tooltip" title="Refresh trip" ><img  class="svg" src="{% static '/reset.svg' %}" alt=""></a>-->
                        <a href="https://www.google.com/maps/dir/{{ item.PickEnd_H_Pos }}/{{  item.PickUp_H_Pos }}" target="_blank" class="outline-btn" data-toggle="tooltip" title="Google map"><img class="svg" target="_blank"
                                                                                        src="{% static '/map.svg' %}"
                                                                                        alt=""></a>
                        <a href="" class="btnannulation outline-btn" data-id="{{ item.id_trip }}" data-toggle="modal" data-target="#myModal" data-toggle="tooltip"  title="Cancel trip"><img  class="svg" src="{% static '/garbage.svg' %}" alt=""></a>                                                
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>   
        <div class="list-footer">   
            <div class=""></div>
            <div class="">
                <form action="/dashboard" method="get">
                    <input type="hidden" name="page" value="{{ load_value }}">
                    <input type="hidden" name="FromPlace" value="{{ FromPlace }}">
                    <input type="hidden" name="ToPlace" value="{{ ToPlace }}">
                    <input type="hidden" name="status" value="{{ status }}">
                    <input type="hidden" name="vehicleno" value="{{ vehicleno }}">
                    <!--<input type="hidden" name="check" value="{{checked}}">-->
                    {% if is_disable %}
                        <button type="submit" value="" disabled style="opacity: 0.3">Load more <i class="fa-solid fa-ellipsis-vertical fa-rotate-90"></i></button>
                    {% else %}
                        <button type="submit" value="" >Load more <i class="fa-solid fa-ellipsis-vertical fa-rotate-90"></i></button>
                    {% endif %}
                   
                </form>
            </div>         
           
            <div class="footer-pagine" >
                <p>{{ load_value }} / {{total_page}}</p>
            </div>
        </div>
    </div>
</div>

<!--modal -->
{% for message in messages %}
<!-- pop-up dialog box, containing a form -->
    <dialog id="favDialog" style="border: none;border-radius: 0.2rem;">  
        <hr></hr>             
        <p>{{ message }}</p>
        <hr></hr>
        <div>
            <button id="cancel" class="btn btn-default" type="reset">Cancel</button>
        </div>
    </dialog>

{% endfor %}        

<div class="container">
    <h2></h2>
    <!-- Trigger the modal with a button -->
     <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4>Trip Cancellation screen</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>     
            <p id="id_trip"></p>
          </div>
          <form action="record/save" method="GET">
            <div class="modal-body">  
                <p class="modal-aster">*</p>                    
                <!--<textarea type="textarea" class="form-control" name="" placeholder="comments"></textarea>-->
                {{ record.comment }}
                <input type="hidden" name="id_trip" id="id_trip" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-outline-success" >Save</button>
            </div>
        </form>
        </div>
        
      </div>
    </div>
    
  </div>
<script src="{% static './autocomplete.js' %}"></script>
<script src="{% static './main.js' %}"></script>
<script>
    // jQuery(function($){
    //     $(document).ajaxSend(function(){
    //         $("#bg-spinner").fadeIn(500);
    //     });

    //     $(".btn-send").click(function(){
    //         console.log("click")
    //         $.ajax({
    //             type: 'GET',
    //             success: function(data){
    //                 var d = $.parseJSON(data)
    //                 alert(d.Test);
    //             }
    //         }).done(function(){
    //             setTimeout(function(){
    //                 $("#bg-spinner").fadeOut(500);
    //             }, 700);
    //         });
    //     });
    // });
</script>
<script>
    function modal_error(){
        const cancelButton = document.getElementById("cancel");
        const dialog = document.getElementById("favDialog");
        dialog.showModal();
        cancelButton.addEventListener("click", () => {
            dialog.close("animalNotChosen"); 
        });
    }
  modal_error()
</script>
<script>
    function modal_annulation(){
        $(document).on("click", ".btnannulation", function () {
        var trip_Id = $(this).data('id');
        $(".modal-body #id_trip").val(trip_Id);
        });
    }
    modal_annulation()
    
</script>
<script>
function refresh_time(){
    localStorage.setItem("last_refresh", "{{ last_refresh|date:'Y-m-d H:i:s'}}");
    var dt = new Date("{{ last_refresh|date:'Y-m-d H:i:s'}}");

    dt.setMinutes(dt.getMinutes() + 5);
    h = dt.getHours() < 10 ? "0"+dt.getHours() : dt.getHours()
    min = dt.getMinutes() < 10 ? "0"+dt.getMinutes() : dt.getMinutes()
    sec = dt.getSeconds() < 10 ? "0"+dt.getSeconds() : dt.getSeconds()
    document.getElementById("nextref").innerHTML = h +":"+min+":"+sec; 

    var countDownDate = new Date("{{ last_refresh|date:'Y-m-d H:i:s'}}").getTime();
    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = now - countDownDate;
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);  
        if (minutes < 0 ){
            minutes = minutes + 60;
        } 
        document.getElementById("demo").innerHTML = minutes;
        if (minutes >= {{ cron_minute }}) {
            countDownDate = now
        }
        
    }, 1000);
}
refresh_time()
</script>
<script>
   function reload(){
     window.location.reload()
   }
    /*var availableTags = [
      {% for item in data_auto %}
          "{{item.driver_oname}}",
      {% endfor %}
      ];
    autocomplete(document.getElementById("driver"), availableTags);*/
</script>
<script>
    $(function () {
        var availableTags = [
        {% for item in data_auto %}
            "{{item.driver_oname}}".replace('&amp;','&'),
        {% endfor %}
        ];
        var availablePickup = [
        {% for item in data_auto %}
            "{{item.FromPlace}}".replace('&amp;','&'),
        {% endfor %}
        ];

        var availableDestination = [
        {% for item in data_auto %}
            "{{item.ToPlace}}".replace('&amp;','&'),
        {% endfor %}
        ];
        
        $("#driver").autocomplete({
            source: availableTags
        });
        
        $("#id_FromPlace").autocomplete({
            source: availablePickup
        });
        $("#id_ToPlace").autocomplete({
            source: availableDestination
        });
    } );
</script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script>

function callapi() {
  let endpoint = 'http://192.168.1.68:80/api/refresh'
    $.ajax({
        url: endpoint,
        contentType: "application/json",
        dataType: 'json',
        success: function(result){
            if(result["result"]=='200'){
                console.log("call");
                let api = new Date(result["datetime"]).getTime();
                let last = new Date(localStorage.getItem("last_refresh")).getTime()
                // console.log("api ",new Date(result["datetime"]).getTime(), "date : ",new Date(result["datetime"]) );
                // console.log("last ",new Date(localStorage.getItem("last_refresh")).getTime(), new Date(localStorage.getItem("last_refresh")));
                if(api > last){
                    // console.log("reload iray")
                    window.reload()
                    localStorage.setItem("last_refresh" , api)          
                }
            }
        }
    })
}

function api() {
    var x = setInterval(function() {
       callapi() 
    }, 30000);
}
api()
</script>
{% endblock %}