{% extends "suiviVehicule/template.html" %}
{% block content %}
{% load static %}
<div class="main">
    <button class="carrosell" data-toggle="collapse" href="#multiCollapseExample1" role="button" onclick="clickIcon()"
            aria-expanded="false" aria-controls="multiCollapseExample1">Search <i
            class="fa-solid fa-angle-right fa-rotate-90"></i>
    </button>
    <button class="carrosell" data-toggle="collapse" href="#multiCollapseExample2" role="button" onclick="clickIcon()"
    aria-expanded="false" aria-controls="multiCollapseExample2">View log <i
    class="fa-solid fa-angle-right fa-rotate-90"></i>
</button>

<form action="/record/listes" method="GET" >
    <div class="row collapse multi-collapse" id="multiCollapseExample2">
        <div class="search col-md-6 ">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="from">Date From</label>
                    <input type="date" class="form-control" name="datefrom" value="" >
                </div>
                <div class="form-group col-md-5">
                    <label for="from">Date To</label>
                    <input type="date" class="form-control" name="dateto" value="" >
                </div>
            </div>
       
        <div class="footer row">
            <a href="/dashboard?reset" class="btn left">Reset</a>
            <button class="right">Search <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        </div>
    </div>
</form>

<form method="GET">
    <div class="row collapse multi-collapse" id="multiCollapseExample1">

            <div class="search col-md-6 ">
                <div class="form-row">
                    <div class="form-group col-md-5 autocomplete">
                        <label for="from">Driver </label>
                        {{ form_search.driver_oname }}
                    </div>
                    <div class="form-group col-md-5">
                        <label for="from">From </label>
                         {{ form_search.FromPlace }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="drive_mobile">Driver mobile </label>
                        {{ form_search.driver_mobile_number }}
                </div>
                <div class="form-group col-md-5">
                    <label for="to">To </label>
                    {{ form_search.ToPlace }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="vehicule">Vehicule </label>
                    {{ form_search.vehicleno }}
                </div>
                <div class="form-group col-md-5">
                    <label for="status">Status </label>
                    {{ form_search.status }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="trip_id">Trip </label>
                    {{ form_search.id_trip }}
                </div>
                <div class="form-group col-md-5">
                    <label for="trip">Trip N° </label>
                    {{ form_search.trip_no }}
                </div>
            </div>

            <div class="footer row">
                <button class="left " name="reset">Reset</button>
                <button class="right">Search <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            </div>

        <div class="dashboard col-md-6">
            <canvas id="myChart" data="{{ chart }}" ></canvas>
        </div>
    </div>
</form>
    
    <div class="list">
        <div class="row">
            <div class="col-md-12 head">
                <p>Last updated : <span id="demo"> </span> mn ago
                    <a href="/refresh" class="btn" >
                        <button class="btn-send" c>
                            Refresh
                            <i class="fa-sharp fa-solid fa-arrows-rotate"></i>
                        </button>
                    </a>
                </p>
            </div>
        </div>
        {% for lg in legend %}
                  <!--   <div class="d-inline-block legend-item">
                        <p> <span style="list-action"><button class="btn btn-outline-success action" style="color:white;background-color:{{lg.couleur}}">{{lg.status}}</button></span> < 0min</p>
                    </div>
                {% endfor %}-->
               <!-- <div class="d-inline-block legend-item">
                    <p> <span style="list-action"><button class="btn btn-outline-success action" style="color:white;background-color:#ff0000">Off Track </button></span> < 0min</p>
                </div>
                <div class="d-inline-block legend-item">
                    <p><span style="list-action"><button class="btn btn-outline-success action" style="color:white;background-color:#ffa500">Risky</button></span> 0-15min</p>
                </div>
                <div class="d-inline-block legend-item">
                    <p><span style="list-action"><button class="btn btn-outline-success action" style="color:white;background-color:#ffea00">Late</button></span> 16-25min</p>
                </div>
                <div class="d-inline-block legend-item">
                    <p><span style="list-action"><button class="btn btn-outline-success action" style="color:white;background-color:#3cb371">On Track</button></span> > 25min</p>
                </div> -->
        <div class="row">
            <div class="col-md-5 head">
                <p>Actual time : 
                    <span>{{last_refresh|time:"H:i:s"}}</span>
                </p>
            </div>
            <div class="col-md-7 legend">
                <div class="d-inline-block legend-item" >
                    <p>Legend :</p>
                </div>
                {% for lg in legend %}
                <div class="d-inline-block legend-item">
                    {% if lg.id == 3 %}
                    <p><span style="list-action" ><button class="btn btn-outline-success action" style="color:white;background-color:{{lg.couleur}}">{{lg.status}}</button></span> < {{lg.max_percent|floatformat:0}}min</p>
                    {% elif lg.id == 2 %}
                    <p><span style="list-action" ><button class="btn btn-outline-success action" style="color:white;background-color:{{lg.couleur}}">{{lg.status}}</button></span> > {{lg.min_percent|floatformat:0}}min</p>
                    {% else %}
                    <p><span style="list-action" ><button class="btn btn-outline-success action" style="color:white;background-color:{{lg.couleur}}">{{lg.status}}</button></span> {{lg.min_percent|floatformat:0}}-{{lg.max_percent|floatformat:0}}min</p>
                    {% endif %}
                </div>
                {% endfor %}
               <!-- <div class="d-inline-block legend-item">
                    <p> <span style="color:#ff0000">Off Track : </span> < 0min</p>
                </div>
                <div class="d-inline-block legend-item">
                    <p ><span style="color:#ffa500">Risky :</span> 0-15min</p>
                </div>
                <div class="d-inline-block legend-item">
                    <p><span style="color: #ffea00">Late : </span>> 16-25min</p>
                </div>
                <div class="d-inline-block legend-item">
                    <p><span style="color:#3cb371">On Track : </span> > 25min</p>
                </div>-->
            </div>
        </div>
        <div class="row table-responsive">
            <table class="table table-borderless col-md-12">
                <thead>
                    <tr>
                        <th scope="col">Driver name</th>
                        <th scope="col">Vehicule N°</th>
                        <th scope="col">Driver Mob N°</th>
                        <th scope="col">Pickup Place</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Current Position</th>
                        <th scope="col" style="width: 100px;">
                            Pick up time</th>
                        <th scope="col" style="width: 100px;" data-toggle="tooltip" title="Trip duration from current position to pickup place" >Trip duration (minutes)</th>
                        <th scope="col" style="width: 100px;" data-toggle="tooltip" title="Estimate time to reach pickup place from current position" >ETA time</th>
                        <th scope="col" style="width: 100px;" data-toggle="tooltip" title="Difference between pickup time and ETA Time" >Difference (minutes)</th>
                        <th scope="col" style="width: 100px;">
                           <!-- <form id="form" action="/dashboard" method="get">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="check" value="0"  onchange="document.getElementById('form').submit()" id="flexCheckDefault" >
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Status
                                    </label>
                                </div>
                            </form>-->
                            Status
                        </th>
                        <th scope="col" style="width: 90px;"></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in data_list %}
                <tr>
                    <td>{{ item.driver_oname }}</td>
                    <td>{{ item.vehicleno }}</td>
                    <td>{{ item.driver_mobile_number }}</td>
                    <td>{{ item.FromPlace }}</td>
                    <td>{{ item.ToPlace }}</td>
                    <td>{{ item.PickEnd_H_Pos }}</td>
                    <td>{{ item.pick_up_time|date:"H:i:s "}}</td>
                    <td style="text-align: center;">{{ item.difftimestart |floatformat:0}}</td>
                    <td>{{ item.estimatetime|date:"H:i:s " }}</td>
                    <td style="text-align: center;">{{ item.difftimepickup |floatformat:0}}</td>
                  
                    <td class="list-action">
                        <button class="btn btn-outline-success action" style="color:white;background-color:{{ item.couleur }}">{{ item.status }} </button>
                    </td>
                    <td class="list-action">
                        <a id="btn-send-2" href="/onerefresh/{{ item.idstatusposdetail }}/{{ item.id }}" class="outline-btn btn-send" data-toggle="tooltip" title="Refresh trip" ><img  class="svg" src="{% static '/reset.svg' %}" alt=""></a>
                        <a href="https://www.google.com/maps/dir/{{ item.PickUp_H_Pos }}/{{ item.PickEnd_H_Pos }}" target="_blank" class="outline-btn" data-toggle="tooltip" title="Google map"><img class="svg" target="_blank"
                                                                                        src="{% static '/map.svg' %}"
                                                                                        alt=""></a>
                        <a href="" class="btnannulation outline-btn" data-id="{{ item.id_trip }}" data-toggle="modal" data-target="#myModal" data-toggle="tooltip"  title="Cancel trip"><img  class="svg" src="{% static '/garbage.svg' %}" alt=""></a>                                                
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>   
        <div class="list-footer">   
            <div class=""></div>
            <div class="">
                <form action="/dashboard" method="get">
                    <input type="hidden" name="page" value="{{ load_value }}">
                    {% if is_disable %}
                        <button type="submit" value="" disabled style="opacity: 0.3">Load more <i class="fa-solid fa-ellipsis-vertical fa-rotate-90"></i></button>
                    {% else %}
                        <button type="submit" value="" >Load more <i class="fa-solid fa-ellipsis-vertical fa-rotate-90"></i></button>
                    {% endif %}
                   
                </form>
            </div>         
           
            <div class="footer-pagine" >
                <p>{{ load_value }} / {{total_page}}</p>
            </div>
        </div>
    </div>
</div>

<!--modal -->
{% for message in messages %}
<!-- pop-up dialog box, containing a form -->
    <dialog id="favDialog" style="border: none;border-radius: 0.2rem;">  
        <hr></hr>             
        <p>{{ message }}</p>
        <hr></hr>
        <div>
            <button id="cancel" class="btn btn-default" type="reset">Cancel</button>
        </div>
    </dialog>

{% endfor %}        

<div class="container">
    <h2></h2>
    <!-- Trigger the modal with a button -->
     <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4>Trip Cancellation screen</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>     
            <p id="id_trip"></p>
          </div>
          <form action="record/save" method="GET">
            <div class="modal-body">                      
                <!--<textarea type="textarea" class="form-control" name="" placeholder="comments"></textarea>-->
                {{ record.comment }}
                <input type="hidden" name="id_trip" id="id_trip" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-outline-success" >Save</button>
            </div>
        </form>
        </div>
        
      </div>
    </div>
    
  </div>
<script src="{% static './autocomplete.js' %}"></script>
<script>
    jQuery(function($){
        $(document).ajaxSend(function(){
            $("#bg-spinner").fadeIn(500);
        });

        $(".btn-send").click(function(){
            console.log("click")
            $.ajax({
                type: 'GET',
                success: function(data){
                    var d = $.parseJSON(data)
                    alert(d.Test);
                }
            }).done(function(){
                setTimeout(function(){
                    $("#bg-spinner").fadeOut(500);
                }, 700);
            });
        });
    });
</script>
<script>
    const cancelButton = document.getElementById("cancel");
    const dialog = document.getElementById("favDialog");
    dialog.returnValue = "favAnimal";

    function openCheck(dialog) {
    if (dialog.open) {
        console.log("Dialog open");
    } else {
        console.log("Dialog closed");
    }
    }

    dialog.showModal();
    openCheck(dialog);
    cancelButton.addEventListener("click", () => {
    dialog.close("animalNotChosen");
    openCheck(dialog);
    
    });
</script>
<script>
    $(document).on("click", ".btnannulation", function () {
    var trip_Id = $(this).data('id');
    $(".modal-body #id_trip").val(trip_Id);
});
    
</script>
<script>
    var countDownDate = new Date("{{ last_refresh|date:'Y-m-d H:i:s'}}").getTime();
    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = now - countDownDate;
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);    
        document.getElementById("demo").innerHTML = minutes;   
        if (minutes >= {{ cron_minute }}) {
            countDownDate = now;        
        }
        // if(parseInt(minutes) == 1 && localStorage.getItem("load") == 0){
        //      localStorage.setItem("load", 1);
        //     window.location.reload(true);
        //   }
        // if(parseInt(minutes) != 1) {
        //     localStorage.setItem("load", 0);
        // }
        console.log("local ", localStorage.getItem("load"));
    }, 1000);
</script>
<script>
   
    /*var availableTags = [
      {% for item in data_auto %}
          "{{item.driver_oname}}",
      {% endfor %}
      ];
    autocomplete(document.getElementById("driver"), availableTags);*/
</script>
<script>
    $(function () {
        var availableTags = [
        {% for item in data_auto %}
            "{{item.driver_oname}}",
        {% endfor %}
        ];
        $("#driver").autocomplete({
            source: availableTags
        });
    } );
</script>
{% endblock %}