{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static './image/favicon.png' %}">
    <link rel="stylesheet" href="{% static './bootstrap-4.3.1/bootstrap-4.3.1/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './sass/dist/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Dashboard - Mautourco</title>
</head>
<body>
{% load crispy_forms_tags %}
{% csrf_token %}
<div class="header row">
    <div class=" col-md-4 header-logo">
        <img src="{% static './image/logo.png' %}" alt="">
    </div>
    <div class="col-md-4 header-title">
        <h2>VEHICLE FLEET TRACKING</h2>
    </div>
    <div class="col-md-4 header-sign-in">
        <h5><a href="/" ><i class="fa-solid fa-house-user"></i></a></h5>
    </div>
</div>
<div id="bg-spinner">
    <div id="position-spinner">
        <span id="spinner"></span>
    </div>
 </div>
<div class="main">
    <button class="carrosell" data-toggle="collapse" href="#multiCollapseExample1" role="button" onclick="clickIcon()"
            aria-expanded="false" aria-controls="multiCollapseExample1">Search <i
            class="fa-solid fa-angle-right fa-rotate-90"></i>
    </button>
    <button class="carrosell" data-toggle="collapse" href="#multiCollapseExample2" role="button" onclick="clickIcon()"
    aria-expanded="false" aria-controls="multiCollapseExample2">View log <i
    class="fa-solid fa-angle-right fa-rotate-90"></i>
</button>

<form action="/record/listes" method="GET" >
    <div class="row collapse multi-collapse" id="multiCollapseExample2">
        <div class="search col-md-6 ">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="from">Date</label>
                    <input type="date" class="form-control" name="date" value="" >
                </div>
                <div class="form-group col-md-5">
                </div>
            </div>
       
        <div class="footer row">
            <button class="left " name="reset">Reset</button>
            <button class="right">Search <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        </div>
    </div>
</form>


<form method="GET">
    <div class="row collapse multi-collapse" id="multiCollapseExample1">

            <div class="search col-md-6 ">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="from">Driver </label>
                        {{ form_search.driver_oname }}
                    </div>
                    <div class="form-group col-md-5">
                        <label for="from">From </label>
                         {{ form_search.FromPlace }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="drive_mobile">Driver mobile </label>
                        {{ form_search.driver_mobile_number }}
                </div>
                <div class="form-group col-md-5">
                    <label for="to">To </label>
                    {{ form_search.ToPlace }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="vehicule">Vehicule </label>
                    {{ form_search.vehicleno }}
                </div>
                <div class="form-group col-md-5">
                    <label for="status">Status </label>
                    {{ form_search.status }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="trip_id">Trip </label>
                    {{ form_search.id_trip }}
                </div>
                <div class="form-group col-md-5">
                    <label for="trip">Trip N° </label>
                    {{ form_search.trip_no }}
                </div>
            </div>

            <div class="footer row">
                <button class="left " name="reset">Reset</button>
                <button class="right">Search <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            </div>

        <div class="dashboard col-md-6">
            <canvas id="myChart" data="{{ chart }}" ></canvas>
        </div>
    </div>
     </form>
    
    <div class="list">
        <div class="row">
            <div class="col-md-12 head">
                <p>Last updated : {{ last_refresh }} ago
                    <a href="/refresh" class="btn" >
                        <button class="btn-send" c>
                            Refresh
                            <i class="fa-sharp fa-solid fa-arrows-rotate"></i>
                        </button>
                    </a>
                </p>
            </div>
        </div>
        <div class="row table-responsive">
            <table class="table table-borderless col-md-12">
                <thead>
                <tr>
                    <th scope="col">Driver name</th>
                    <th scope="col">Driver mobile</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Vehicule N°</th>
                    <th scope="col">Start time</th>
                    <th scope="col">Last fetch</th>
                    <th scope="col" style="width: 100px;">Duration</th>
                    <th scope="col" style="width: 100px;">Estimate</th>
                    <th scope="col" style="width: 100px;">
                        Pick up time</th>


                    <th scope="col" style="width: 160px;"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in data_list %}
                <tr>
                    <td>{{ item.driver_oname }}</td>
                    <td>{{ item.driver_mobile_number }}</td>
                    <td>{{ item.FromPlace }}</td>
                    <td>{{ item.ToPlace }}</td>
                    <td>{{ item.vehicleno }}</td>
                    <td>{{ item.trip_start_time |date:"H:i:s " }}</td>
                    <td>{{ item.datetime |date:"H:i:s " }}</td>
                    <td style="width: 100px;width: 90px;
    overflow: hidden;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;">{{ item.duration }}</td>
                    <td>{{ item.estimatetime|date:"H:i:s " }}</td>
                    <td>{{ item.pick_up_time|date:"H:i:s "}}</td>


                    <td class="list-action">
                        <button class="btn btn-outline-success action" style="color:white;background-color:{{ item.couleur }}">{{ item.status }} </button>
                        <a id="btn-send-2" href="/onerefresh/{{ item.idstatusposdetail }}/{{ item.id }}" class="outline-btn btn-send" ><img  class="svg" src="{% static '/reset.svg' %}" alt=""></a>
                        <a href="https://www.google.com/maps/dir/{{ item.PickUp_H_Pos }}/{{ item.PickEnd_H_Pos }}" target="_blank" class="outline-btn"><img class="svg" target="_blank"
                                                                                        src="{% static '/map.svg' %}"
                                                                                        alt=""></a>
                        <a href="" class="btnannulation outline-btn" data-id="{{ item.id_trip }}" data-toggle="modal" data-target="#myModal" ><img  class="svg" src="{% static '/garbage.svg' %}" alt=""></a>                                                
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            {% for message in messages %}
            <!-- pop-up dialog box, containing a form -->
                <dialog id="favDialog" style="border: none;border-radius: 0.2rem;">  
                    <hr></hr>             
                    <p>{{ message }}</p>
                    <hr></hr>
                    <div>
                        <button id="cancel" class="btn btn-default" type="reset">Cancel</button>
                    </div>
                </dialog>

            {% endfor %}        
            <script>
                $(document).on("click", ".btnannulation", function () {
                var trip_Id = $(this).data('id');
                $(".modal-body #id_trip").val(trip_Id);
            });
            </script>
            <div class="container">
                <h2></h2>
                <!-- Trigger the modal with a button -->
                 <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>     
                        <p id="id_trip"></p>
                      </div>
                      <form action="record/save" method="GET">
                        <div class="modal-body">                      
                            <!--<textarea type="textarea" class="form-control" name="" placeholder="comments"></textarea>-->
                            {{ record.comment }}
                            <input type="hidden" name="id_trip" id="id_trip" value=""/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-outline-success" >Save</button>
                        </div>
                    </form>
                    </div>
                    
                  </div>
                </div>
                
              </div>
              
        <div class="list-footer">
            <a href="/dashboard?loadmore={{ load_value }}" class="btn" >
                <button name="loadmore" value="" >Load more <i class="fa-solid fa-ellipsis-vertical fa-rotate-90"></i></button>
            </a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="{% static './bootstrap-4.3.1/bootstrap-4.3.1/dist/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="{% static './graph.js' %}"></script>
<script src="https://kit.fontawesome.com/2c856785c3.js" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>

<script>
    jQuery(function($){
        $(document).ajaxSend(function(){
            $("#bg-spinner").fadeIn(500);
        });

        $(".btn-send").click(function(){
            console.log("click")
            $.ajax({
                type: 'GET',
                success: function(data){
                    var d = $.parseJSON(data)
                    alert(d.Test);
                }
            }).done(function(){
                setTimeout(function(){
                    $("#bg-spinner").fadeOut(500);
                }, 700);
            });
        });
    });
</script>
<script>
    const cancelButton = document.getElementById("cancel");
    const dialog = document.getElementById("favDialog");
    dialog.returnValue = "favAnimal";

    function openCheck(dialog) {
    if (dialog.open) {
        console.log("Dialog open");
    } else {
        console.log("Dialog closed");
    }
    }

    dialog.showModal();
    openCheck(dialog);
    cancelButton.addEventListener("click", () => {
    dialog.close("animalNotChosen");
    openCheck(dialog);
    
    });
</script>
</body>

</html>