{% extends "suiviVehicule/index.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!--Register-->
<div class="container col-md-4 py-5">
    <div class="container-header">
         <img src="{% static './image/logo.png' %}" alt="">
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ login_form.mail |as_crispy_field }}
        {{ login_form.pswd |as_crispy_field }}
        {% if error %}
        <div class="alert alert-danger text-center">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endif %}
        <div class="container-button">
            <button class="btn btn-primary" type="submit">Connexion</button>
        </div>

    </form>
</div>

{% endblock %}
<!-- Optional Javascript -->
