{% extends "suiviVehicule/template.html" %}
{% block content %}
{% load static %}
<div class="main">    
    <div class="list">
        <div class="title-rec row">
            <div class="col-md-1 icon ">
               <a href="/dashboard" ><i class="fa-regular fa-circle-left fa-xl"></i></a>
            </div>       
            <div class="col-md-10 title-rec-head" style="text-align: center;">
                <h2>Log trip record</h2>
            </div>        
        </div> 
        <div class="row table-responsive">
            <table class="table table-borderless col-md-12">
                <thead>
                  <tr>
                   <th scope="col">Driver name</th>
                    <th scope="col">Vehicule</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Start time</th>
                    <th scope="col">Pick up time</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Comments</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in data_list %}
                <tr>             
                    <td style="text-align: center;">{{ item.driver_oname }}</td>
                    <td style="text-align: center;">{{ item.vehicleno }}</td>
                    <td style="text-align: center;">{{ item.FromPlace }}</td>
                    <td style="text-align: center;">{{ item.ToPlace }}</td>
                    <td style="text-align: center;">{{ item.trip_start_time|date:"H:i:s " }}</td>
                    <td style="text-align: center;">{{ item.pick_up_time |date:"H:i:s" }}</td>                  
                   <td style="text-align: center;">{{ item.daterecord }}</td>
                    <td class="list-action">
                        <button class="btn btn-outline-success action" style="color:white;background-color:{{ item.couleur }}">{{item.status}}</button>
                    </td>
                    <td style="text-align: center;text-transform: uppercase;">{{ item.comment }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            {% for message in messages %}
            <!-- pop-up dialog box, containing a form -->
                <dialog id="favDialog" style="border: none;border-radius: 0.2rem;">  
                    <hr></hr>             
                    <p>{{ message }}</p>
                    <hr></hr>
                    <div>
                        <button id="cancel" class="btn btn-default" type="reset">Cancel</button>
                    </div>
                </dialog>

            {% endfor %}        
            
        <div class="list-footer">
          <!--  <a href="/record/listes?page={{ load_value }}" class="btn" >
                <button name="loadmore" value="" >Load more <i class="fa-solid fa-ellipsis-vertical fa-rotate-90"></i></button>
            </a>-->
        </div>
    </div>
</div>
{% endblock %}